body {
  background-color:white !important;
  width: min(1500px, 100%);
  transform: translate(-1px, -16px);
  background-image: repeating-linear-gradient(to top right, transparent 0 55px, rgb(227, 219, 219) 55px 56px), repeating-linear-gradient(to bottom right, transparent 0 55px, rgb(227, 219, 219) 55px 56px);
}

@keyframes waveAnimation {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
@keyframes backgroundchange {
  to {
    background-position: 200% center;
  }
}
